@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/typography/text/replacement";

// Branco.
$white:                       rgba(255, 255, 255, 1) !default;

// Preto.
$black:                       rgba(  0,   0,   0, 1) !default;

// Azuis.
$blue1:                       rgba(219, 239, 247, 1) !default;
$blue2:                       rgba(115, 195, 230, 1) !default;
$blue3:                       rgba( 77, 173, 214, 1) !default;
$blue4:                       rgba( 21, 138, 196, 1) !default;

// Verdes.
$green1:                      rgba(225, 241, 225, 1) !default;
$green2:                      rgba(171, 227, 133, 1) !default;
$green3:                      rgba( 95, 192, 128, 1) !default;
$green4:                      rgba( 97, 160, 128, 1) !default;

// Vermelhos.
$red1:                        rgba(255, 220, 220, 1) !default;
$red2:                        rgba(255, 109, 109, 1) !default;
$red3:                        rgba(232,  59,  59, 1) !default;
$red4:                        rgba(225,  39,  45, 1) !default;
$red5:                        rgba(193,  39,  45, 1) !default;

// Laranjas.
$orange1:                     rgba(255, 238, 215, 1) !default;
$orange2:                     rgba(255, 200,   0, 1) !default;
$orange3:                     rgba(255, 169,  53, 1) !default;
$orange4:                     rgba(255, 124,  53, 1) !default;
$orange5:                     rgba(243,  94,   0, 1) !default;
$orange6:                     rgba(243,  74,   0, 1) !default;

// Cinzas.
$gray1:                       rgba(247, 247, 247, 1) !default;
$gray2:                       rgba(240, 240, 240, 1) !default;
$gray3:                       rgba(230, 230, 230, 1) !default;
$gray4:                       rgba(204, 204, 204, 1) !default;
$gray5:                       rgba(179, 179, 179, 1) !default;
$gray6:                       rgba(109, 110, 111, 1) !default;

body {
  background: $gray1;
  text-align: center;
  font-family: heveltica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  .textshadow & { @include single-text-shadow($white, 0, 1px, 0); }
}

a, a:visited {
  color: $blue3;
  text-decoration: none;
}

a:hover {
  color: $blue4;
  text-decoration: underline;
}

a:active { color: $blue2; }

::selection {
  background: $blue3;
  color: white;
}

.container {
  @include clearfix;
  text-align: left;
  width: 960px;
  margin: 0 auto;

  background: url("../img/redutech-graph.png") no-repeat -40px 200px;

  .call-to-army {
    width: 700px;
    margin: 0 auto;

    .image-wrapper {
      padding: 20px;
      text-align: center;

      img { .borderradius & { @include border-radius(11px); } }
    }
  }
}

.header {

  .logotipo {
    overflow: hidden;
    text-indent: -99999px;
    background: url("../img/redutech-topo.png") no-repeat;
    width: 490px;
    height: 147px;
    float: left;
    margin: 0;
    margin-bottom: 13px;

    a {
      display: block;
      height: 147px;
    }
  }

  .nav {
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 395px;
    float: right;
    line-height: 14px;
    margin-top: 75px;

    li {
      padding: 0 10px;
      float: left;
      border-right: 1px solid $gray4;
    }

    li:first-child { padding-left: 0; }
    li:last-child { padding-right: 0; border: none; }
  }
}

.call-wrapper {
  text-align: left;
  clear: both;
  height: 300px;
  width: 1240px;
  margin: 0 auto;
  background-color: $green3;

  .product-links {

    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 395px;
    float: right;
    line-height: 14px;
    margin-top: 75px;

    li {
      padding: 0 10px;
      float: left;
      border-right: 1px solid $gray4;
    }

    li:first-child { padding-left: 0; }
    li:last-child { padding-right: 0; border: none; }
  }

  .hack {
    background: url("../img/call-green-bkg.png") no-repeat 0 ;
    width: 2000px;
    height: 300px;
    margin-left: -2000px;
    float: left;
  }

  .multiplebgs & {
    background-image: url("../img/redutech-graph.png"), url("../img/bkg-green-1.png"), url("../img/bkg-green-2.png"), url("../img/bkg-green-3.png");
    background-position: 0 60px, 0 0, 970px 0, 1020px 0;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .call {
    @include clearfix;
    margin: 0 auto;
    width: 960 - 140px;
    height: 300px;
    padding-left: 140px;
  }

  .header-call {
    .textshadow & { @include single-text-shadow(rgb(97,160,128), 0, -1px, 1px); }

    padding: 0;
    margin: 0;
    margin-top: 52px;
    margin-bottom: 20px;
    width: 580px;
    line-height: 48px;
    font-size: 48px;
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 100;
    color: $white;
  }

  p {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    clear: both;
    width: 700px;
    color: white;
    font-size: 14px;
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    float: left;
    .textshadow & { @include single-text-shadow(rgb(97,160,128), 0, 1px, 1px); }
  }
}

.main, .call-to-army {
  clear: both;

  .product-links {
    float: none;
    margin-top: 20px;
    list-style: none;

    li {
      padding: 0 10px;
      float: left;
      border-right: 1px solid $gray4;
    }

    li:first-child { padding-left: 0; }
    li:last-child { padding-right: 0; border: none; }
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 48px;
    font-size: 48px;
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 100;
  }

  p, li {
    font-size: 14px;
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    color: $gray6;
    padding: 5px 0;
    margin: 0;
  }

  img {
    border: 1px solid white;
    .borderradius & { @include border-radius; }
  }

  section {
    @include clearfix;
    clear: both;
    padding: 5px 0;
    padding-left: 130px;
    width: 700px;

    &#mission, &#team, &#contact-us, &#product {
      padding-top: 0;
      padding-bottom: 0;
    }

    &#product  {
      background: $gray1; //Guila, misteriosamente a bola feita de circulos menores estava aparecendo no espaço em que há padding. Eis o motivo de definir o background.
      .link-logo {
        float: left;
        padding-bottom: 2px;
      }
    }
  }

  .explain-mission { clear: both; }

  blockquote {
    line-height: 20px;

    &:before, &:after {
      content: " ";
      width: 30px;
      height: 25px;
      display: block;
      position: absolute;
    }

    &:before {
      margin-left: -30px;
      margin-top: 5px;
      float: left;
      background: url("../img/quote-1.png") no-repeat;
    }

    &:after {
      margin-left: 705px;
      margin-top: -42px;
      background: url("../img/quote-2.png") no-repeat;
    }

    width: 700px;
    float: left;
    margin: 0;
    padding: 0;
  }

  address {
    color: $gray6;
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 340px;
    height: 70px;
    float: left;
  }

  address + address { margin-left: 20px; } //Apenas inserir margem na esquerda do segundo elemento para que caiba na largura definida pelo designer

  .product-img {
    float: left;
    margin-right: 20px;
    .boxshadow & {
      @include single-box-shadow($gray4, 0, 1px, 3px, 1px);
    }
    &:hover {
      border-color: $blue2;
      .boxshadow & {
        @include single-box-shadow($blue4, 0, 1px, 3px, 1px);
      }
    }
  }

  .team {
    list-style: none;
    padding: 0;
    margin: 0px;
    float:left;

    li {
      width: 159px;
      margin: 20px 10px 0 10px;
      padding-bottom: 0;
      display: inline-block;
      float: left;
      color: $gray6;
      font-family: "museo-sans",sans-serif;
      font-style: normal;

      &:nth-child(4n) { margin-right: 0; }

      &.member-left { //member-left foi uma classe criada para remover margem à esquerda dos primeiros elementos de cada linha, para que caiba na largura definida pelo designer
        clear: left;
        margin-left: 0;
      }
      img {
        .boxshadow & {
          @include single-box-shadow($gray4, 0, 1px, 2px, 2px);
        }
        &:hover {
          border-color: $blue2;
          .boxshadow & {
            @include single-box-shadow(rgba(21,138,196,0.5), 0, 1px, 2px, 2px);
          }
        }
      }
    }


    h5 {
      font-size:18px;
      font-weight: 100;
      margin: 0;
      margin-top: 10px;

      .ln {
        display: block;
        color: $gray6;
        font-weight: 300;
      }
    }

    a { font-weight: 500; }

    a:hover, a:hover * {
      font-weight: 500;
      text-decoration: none;
      color: $blue4;
    }

    strong {
      font-weight: 300;
      font-size: 12px;
    }
  }

  .office {
    float: left;
    margin-bottom: 20px;
    width: 338px;
  }

  .office  + .office { margin-left: 18px; } // Apenas inserir margem na esquerda da segunda foto para que caiba na largura definida pelo designer

  .office-big { width: 696px; }
}

.footer {
  font-size: 11px;
  line-height: 15px;
  @include clearfix;
  text-align: left;
  padding-bottom: 70px;
  height: 140px;
  margin: 0 auto;
  margin-top: 60px;
  border-top: 1px solid white;
  background: $gray3;
  padding-top: 40px;

  .footer-content {
    margin: 0 auto;
    width: 960px;
  }

  .footer-logotipo {
    text-indent: -9999px;
    overflow: hidden;
    background: url("../img/redutech-footer.png") no-repeat;
    width: 240px;
    height: 77px;
    margin: 0;
    padding: 0;
    float: left;

    a { display: block; height: 77px; }
  }

  .about-us, address, strong { color: $gray6; }

  .about-us {
    width: 290px;
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 120px;
    margin-left: 15px;
    clear: left;
  }

  address {
    float: left;
    width: 160px;
    height: 56px;
    margin-right: 60px;
    text-align: center;
    background: url("../img/geoloc-icon.png") no-repeat center center;
    height: 75px;
    padding-top: 55px;
    margin-top: -40px;
  }

  .redu-nav, .redu-tech-nav {
    width: 170px;
    float: left;
    font-size: 11px;
    margin-top: -20px;

    ul {
      list-style: none;
      margin: 0;
      margin-left: 10px;
      padding: 0;
      font-weight: 500;
    }
  }

  .redu-tech-nav { width: 140px; }
}

.link-hover { // CSS criado para aplicar regras no nome do membro da equipe quando houver hover na foto do mesmo.
  color: $blue4 !important;
  font-weight: 500 !important;
}
