<header class="header">
<h1 class="logotipo"> <a href="http://tech.redu.com.br">Redu Educational Technologies</a>  </h1>
<nav class="nav">
<ul>
  <li> <a href="#mission">Nossa missão</a></li>
  <li> <a href="#product">Nosso produto</a></li>
  <li> <a href="#team">Equipe</a></li>
  <li> <a href="#contact-us">Encontre-nos</a></li>
</ul>
</nav>
</header>

