<% content_for :content do %>
  <div class="container">
    <div class="call-to-army">
      <div class="image-wrapper">
        <%= tag :img, :src => "/img/call-to-army-front-end1.png" %>
      </div>
      <h3>Sobre a oferta</h3>
      <p>
        Estágio na área de front-end para pessoas interessadas em trabalhar com os padrões Web mais recentes.
      </p>

    <h4>Ganha ponto quem: </h4>

    <ul>
      <li>Conhecer CSS3</li>
      <li>Conhecer HTML5</li>
      <li>Conhecer ou já ter utilizado SaaS</li>
      <li>Conhecer ou já ter utilizado o Adobe Illustrator</li>
      <li>Conhecer ou já ter utilizado Rails</li>
      <li>Estiver engajado em projetos opensource</li>
    </ul>

    <h4>Benefícios</h4>

    <ul>
      <li>Trabalhar com uma equipe divertida, multidisciplinar e excepcional</li>
      <li>Horários flexíveis</li>
      <li>Bolsa via CNPq no valor R$ 800,00 por mês</li>
      <li>Suprimento infinito de café</li>
    </ul>

    <p> Para quem quiser saber mais, basta mandar um e-mail para <%= link_to "jobs@redu.com.br", "mailto:jobs@redu.com.br" %> até o dia 3/10/2012</p>
  </div>
</div>
<% end %>
