<% content_for :content do %>
  <div class="container">
    <div class="call-to-army">
      <div class="image-wrapper">
        <%= tag :img, :src => "/img/call-to-army-moodle.png" %>
      </div>
      <h3>Sobre a oferta</h3>
      <p>
        Permitir exportação de dados do LMS Moodle para o Redu através da nossa <%= link_to "API REST", "http://developers.redu.com.nr" %>.
      </p>

    <h4>Ganha ponto quem: </h4>

    <ul>
      <li>Já desenvolveu plugins ou customizações para o Moodle</li>
      <li>Possuir experiência em uso de APIs REST e OAuth2</li>
      <li>Conhecimento e disposição para desenvolver em Ruby ou Python</li>
    </ul>

    <h4>Benefícios</h4>

    <ul>
      <li>Trabalho remoto</li>
      <li>Ser pago para desenvolver um projeto opensource</li>
      <li>Escopo e duração do projeto definidos a priori</li>
    </ul>

    <p> Para quem quiser saber mais, basta mandar um e-mail para <%= link_to "jobs@redu.com.br", "mailto:jobs@redu.com.br" %> até o dia 24/10/2012.</p>
  </div>
</div>
<% end %>
