<% content_for :content do %>
  <div class="container">
    <div class="call-to-army">
      <div class="image-wrapper">
        <%= tag :img, :src => "/img/call-to-army-mestre-mobile.png" %>
      </div>
      <h3>Sobre a oferta</h3>
      <p>
        Líder de projeto de aplicativo educacional mobile.
      </p>

    <h4>Buscamos alguém que:</h4>
    <ul>
      <li> Tenha interesse em trabalhar na concepção e desenvolvimento de um aplicativo educacional mobile; </li>
      <li> Possua conhecimento de desenvolvimento de aplicativos Android; </li>
      <li> Seja Mestre.  </li>
    </ul>

    <h4>Ganha ponto quem: </h4>

    <ul>
      <li> Tenha utilizado APIs REST; </li>
      <li> Conhecer o protocolo HTTP; </li>
      <li> Conhecer OAuth; </li>
      <li> Estiver engajado em projetos opensource.  </li>
    </ul>

    <h4>Benefícios</h4>

    <ul>
      <li> Trabalhar junto a uma equipe divertida, multidisciplinar e excepcional;</li>
      <li>Horários flexíveis</li>
      <li>Suprimento infinito de café</li>
      <li>Bolsa via CNPq no valor de R$ 3 000 por mês.</li>
    </ul>

    <p> Para quem quiser saber mais, basta mandar um e-mail para <%= link_to "jobs@redu.com.br", "mailto:jobs@redu.com.br" %> até o dia 2/11/2012.</p>
  </div>
</div>
<% end %>
