<% content_for :content do %>
  <div class="container">
    <div class="call-to-army">
      <div class="image-wrapper">
        <%= tag :img, :src => "/img/call-to-army-freelancer-mobile.png" %>
      </div>
      <h3>Sobre a oferta</h3>
      <p>
        Desenvolvimento do aplicativo mobile oficial do Redu. A integração irá acontecer através da nossa <%= link_to "API REST", "http://developers.redu.com.br" %> e o selecionado integrará uma equipe de 4 pessoas, entre desenvolvedores e designers.
      </p>

    <h4>Buscamos alguém que:</h4>
    <ul>
      <li>Tenha experiência em desenvolvimento para Android</li>
      <li>Saiba front-end de Android e sua API gráfica de componentes (XML)</li>
      <li>Programação em Java intermediário</li>
      <li>Saiba e goste de trabalhar em equipe e com prazos (3 a 4 meses)</li>
    </ul>

    <h4>Ganha ponto quem: </h4>

    <ul>
      <li>Use Git</li>
      <li> Tenha utilizado APIs REST; </li>
      <li> Conhecer OAuth; </li>
    </ul>

    <h4>Benefícios</h4>

    <ul>
      <li>Trabalhar junto a uma equipe divertida, multidisciplinar e excepcional;</li>
      <li>R$ 1000,00 por mês</li>
    </ul>

    <p> Para quem quiser saber mais, basta mandar um e-mail para <%= link_to "jobs@redu.com.br", "mailto:jobs@redu.com.br" %> até o dia 12/12/2012.</p>
  </div>
</div>
<% end %>
