<% content_for :content do %>
  <div class="container">
    <%= partial "header" %>
  </div> <!--! end of #container -->
  <div class="call-wrapper">
    <div class="hack"></div>
    <section class="call">
      <h2 class="header-call">Potencializando o talento das pessoas.</h2>
      <p>Olá, nós somos a Redu Educational Technologies. Uma empresa que começou no coração da universidade, nas mentes inquietas de educadores e alunos e na coragem de empreendedores preocupados em mudar o mundo. Pensamos que a Educação é um fator chave para o desenvolvimento do ser humano como sujeito e um agente transformador do atual contexto social de nossa sociedade.</p>
    </section>
  </div><!-- end .call-wrapper -->
  <div class="container">
  <div class="main" role="main">
    <section id="mission">
    <h3>Nossa missão</h3>
    <blockquote>
      <p>Oportunizar a riqueza através do conhecimento e promover a evolução das práticas da educação de forma criativa e sustentável.</p>
    </blockquote>
    <p class="explain-mission">
      Em essência, temos a ambição de quebrar paradigmas da Educação tradicional e universalizá-la, promovendo desta forma uma revolução a longo prazo, porém inevitável. Estudamos teorias da aprendizagem, descartamos idéias retrógradas e incentivamos o crescimento pessoal e global.
    </p>
    </section>

    <section id="product">
      <h3>Nosso produto</h3>
      <a href="http://www.redu.com.br" class="link-logo">
        <img src="/img/redu-thumb.png" class="product-img" alt="redu" >
      </a>
      <p>O <a href="#">Redu</a> é uma plataforma de ensino a distância que foi construída tendo como base as interações sociais, com diversas possibilidades de cooperação e aprendizagem: vídeo-aulas, artigos, documentos, exercícios, espaço para discussões, comunicação em tempo real (e muito mais).</p>
      <ul class="product-links">
      	<li> <a href="http://blog.redu.com.br">Blog do Redu</a> </li>
      	<li> <a href="http://www.redu.com.br/tos">Termos de uso</a> </li>
      	<li> <a href="http://www.redu.com.br/privacy">Política de privacidade</a> </li>
      </ul>
    </section>

    <section id="team">
      <h3>Equipe</h3>
      <p>Multidisciplinar, criativa, colaborativa e focada. Nós incorporamos o espírito startup de ser: trabalhamos com sinergia, alegria e nunca estamos satisfeitos.</p>

      <ul class="team">
        <li class="member-left">
          <a href="http://www.redu.com.br/pessoas/andremoraes/">
            <img src="/img/membros-deds.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/andremoraes/">André <span class="ln">Diniz de Moraes</span> </a>
          </h5>
          <strong>Gerente de Projetos</strong>
        </li>
        <li>
          <a href="http://redu.com.br/pessoas/guiocavalcanti">
            <img src="/img/membros-guila.png">
          </a>
          <h5>
            <a href="http://redu.com.br/pessoas/guiocavalcanti">Guilherme <span class="ln">Cavalcanti</span> </a>
          </h5>
          <strong>Líder técnico</strong>
        </li>
        <li>
          <a href="http://#">
            <img src="/img/membros-cassio.png">
          </a>
          <h5>
            <a href="#">Cassio <span class="ln">Melo</span> </a>
          </h5>
          <strong>Pesquisador</strong>
        </li>
        <li>
          <a href="http://redu.com.br/pessoas/andersonduarte">
            <img src="/img/membros-ands.png">
          </a>
          <h5>
            <a href="http://redu.com.br/pessoas/andersonduarte">Anderson <span class="ln">Duarte</span> </a>
          </h5>
          <strong>Diretor Executivo</strong>
        </li>
        <li class="member-left">
          <a href="http://www.redu.com.br/pesspas/julianalucena">
            <img src="/img/membros-jubs.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/julianalucena">Juliana <span class="ln">Lucena</span> </a>
          </h5>
          <strong>Líder técnico</strong>
        </li>
        <li>
          <a href="http://www.redu.com.br/pessoas/tiago">
            <img src="/img/membros-txi.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/tiago">Tiago <span class="ln">Ferreira</span> </a>
          </h5>
          <strong>Líder técnico</strong>
        </li>
        <li>
          <a href="http://www.redu.com.br/pessoas/sergiofontes">
            <img src="/img/membros-sergio.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/sergiofontes">Sérgio <span class="ln">Fontes</span></a>
          </h5>
          <strong>Designer</strong>
        </li>
        <li>
          <a href="http://www.redu.com.br/pessoas/brunno">
            <img src="/img/membros-brunno.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/brunno">Brunno <span class="ln">Gomes</span></a>
          </h5>
          <strong>Desenvolvedor</strong>
        </li>
        <li class="member-left">
          <a href="http://redu.com.br/pessoas/thaisbione">
            <img src="/img/membros-thais.png">
          </a>
          <h5>
            <a href="http://redu.com.br/pessoas/thaisbione">Thaís <span class="ln">Bione</span></a>
          </h5>
          <strong>Desenvolvedora de front-end</strong>
        </li>
        <li>
          <a href="http://redu.com.br/pessoas/jessicab">
            <img src="/img/membros-jess.png">
          </a>
          <h5>
            <a href="http://redu.com.br/pessoas/jessicab">Jéssica <span class="ln">Barbalho</span></a>
          </h5>
          <strong>Desenvolvedora</strong>
        </li>
        <li>
          <a href="http://redu.com.br/pessoas/edmatheus">
            <img src="/img/membros-matheus.png">
          </a>
          <h5>
            <a href="http://redu.com.br/pessoas/edmatheus">Matheus <span class="ln">Santana</span></a>
          </h5>
          <strong>Desenvolvedor</strong>
        </li>
        <li>
          <a href="http://www.redu.com.br/pessoas/filipewl">
            <img src="/img/membros-wands.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/filipewl">Filipe <span class="ln">Wanderley Lima</span></a>
          </h5>
          <strong>Desenvolvedor de front-end</strong>
        </li>
        <li  class="member-left">
          <a href="http://www.redu.com.br/pessoas/dianalins">
            <img src="/img/membros-diana.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/dianalins">Diana <span class="ln">Lins</span></a>
          </h5>
          <strong>Designer</strong>
        </li>
        <li>
          <a href="http://www.redu.com.br/pessoas/igorcalabria">
            <img src="/img/membros-igor.png">
          </a>
          <h5>
            <a href="http://www.redu.com.br/pessoas/igorcalabria">Igor <span class="ln">Calabria</span></a>
          </h5>
          <strong>Desenvolvedor</strong>
        </li>
      </ul>
    </section>

    <section id="contact-us">
      <h3>Encontre-nos</h3>
      <address>
        Rua do Apolo, 181<br>
        Cais do Apolo – Núcleo de Gestão do Porto Digital<br>
        Recife, Pernambuco, Brasil
      </address>
      <address>
        E-mail: contato@redu.com.br<br>
        Telefone: +55 (81) 3419 8110<br>
        CNPJ: 12.359.885/0001-07<br>
      </address>
      <img src="/img/toyarts.png" class="office" alt="" />
      <img src="/img/txiscreen.png" class="office" />
      <img src="/img/reducators.png" class="office-big" alt="" />
    </section>
  </div>
</div>

<% end %>
